@import '../layouts/shared-styles';

.basic-content {
  padding: 50px 0;
  text-align: left;

  @include medium-up {
    padding: 80px 0;
    text-align: center;
  }

  &.alt-bg {
    background-color: $lightgray;
  }

  &.max-600 {
    max-width: 600px;
    margin: auto;
  }

  &.rounded {
    border-radius: 8px;
  }
}