@import '../layouts/shared-styles';

.form {
  padding: 50px 0;
  text-align: left;

  @include medium-up {
    padding: 80px 0;
    text-align: center;
  }

  .basic {
    flex: 1;
    border: 1px solid $lightgray1;
    padding: 15px;
    font-size: 14px;
    font-weight: 200;
  }

  .input-container {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 15px;

    @include medium-up {
      flex-basis: 45%;
    }
  }

  .space-right {
    margin-right: 0;

    @include medium-up {
      margin-right: 15px;
    }
  }

  .space-top {
    margin-top: 0;

    @include medium-up {
      margin-top: 30px;
    }
  }

  .center {
    justify-content: center;
  }
}