.header {
  padding: 10px;
  box-shadow: 0 2px 5px -1px rgba(0,0,0,.26);

  .menu {
    display: flex;
    align-items: center;

    li {
      margin-right: 15px;

      a:not(.first) {
        vertical-align: text-bottom;
      }
    }
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    margin-right: 20px;
  }

  .right {
    margin-left: auto;
  }
}