@import '../layouts/shared-styles';

.header {
  position: relative;
  padding: 10px;
  box-shadow: 0 2px 5px -1px rgba(0,0,0,.26);

  .container {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    @include medium-up {
      align-items: center;
      flex-direction: row;
      position: static;
    }

    li {
      padding: 15px;
      background-color: $white;

      @include medium-up {
        margin-right: 15px;
        padding: 0;
      }

      a:not(.first) {
        vertical-align: text-bottom;
      }
    }
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    margin-right: 20px;
  }

  .right {
    margin-left: auto;
  }
}