// ==================================================
// FONTS
// ==================================================
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

// ==================================================
// COLORS
// ==================================================
$white: #fff;
$gray: #2A3132;
$lightgray: #f5f5f5;
$lightgray1: #e9e9ea;
$blue: #336B87;
$lightblue: #90AFC5;

// ==================================================
// Primary Breakpoints
// ==================================================

@mixin small {
  @media screen and (min-width: 0px) and (max-width: 640px) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    @content;
  }
}

@mixin medium-up {
  @media screen and (min-width: 641px) {
    @content;
  }
}

@mixin medium-down {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    @content;
  }
}

@mixin large-up {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

// ==================================================
// Basic Classes
// ==================================================

.space-right {
  margin-right: 15px;
}

.medium-up {
  @include small {
    display: none !important;
  }
}